{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Django Forum</title>
  {% block extra_css %}
  {% endblock %}
</head>
<body>
  <nav>
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'tutorials' %}">Tutorials</a> |
    <a href="{% url 'challenge' %}">Challenge</a> |
    <a href="{% url 'community' %}">Community</a> |
    <a href="{% url 'forum:post_list' %}">Forum</a> |
    {% if user.is_authenticated %}
      Hello, {{ user.username }}!
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}ś
      <a href="{% url 'login' %}">Login</a> |
      <a href="{% url 'register' %}" class="signup-btn">Sign Up</a>
    {% endif %}
  </nav>
  <hr>
  {% block content %}
  {% endblock %}
</body>
</html>
