{% extends 'base.html' %}
{% block extra_css %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{'styles/community.css' %}">
{% endblock %}
{% block content %}
<h1>Community</h1>
<p>Join our community to share ideas and connect with fellow enthusiasts.</p>

<head>
    <meta charset="UTF-8">
    <title>CyberRunner Community</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/community.css">
</head>

            <p>Community forum is yet to be created.</p>
        </section>

{% endblock %} ś